body {
    background-image: url(/images/afri.jpg);
    background-repeat: no-repeat;
    font-size: 17px;
    font-family: 'Quicksand', sans-serif;
}
.container{
    width: 80%;
    margin: auto;
}
/* set content box properties */
.content{
    background-color: #501717;
    background-blend-mode: inherit;
    opacity: 0.9;
    /* height: 620px;  */
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10px;
    margin-bottom: auto;
    padding-bottom: 20px;
    box-shadow: 2px 2px #000000;
    border-radius: 1%;
  }
  
h1{
    text-align: center;
    color: white;
    font-size: 36px;
    padding-top: 20px;
}
p{
    color: white;
}