body {
    background-image: url(/images/afri.jpg);
    background-repeat: no-repeat;
    font-size: 17px;
    font-family: 'Quicksand', sans-serif;
    color: white;
}
.container{
    width: 80%;
    margin: auto;
}
/* set content box properties */
.content{
    background-color: #501717;
    background-blend-mode: screen;
    opacity: 0.9;
    /* height: 620px;  */
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10px;
    margin-bottom: auto;
    padding-bottom: 20px;
    box-shadow: 2px 2px #000000;
    border-radius: 1%;
  }

  #year-input{
      border-radius:5px;
      box-shadow:2px 2px #f8fc06;
      width: 100px;
  }
  #month-input{
      border-radius: 5px;
      box-shadow:2px 2px #f8fc06;
      width: 60px;
  }
  #day-input{
      border-radius: 5px;
      box-shadow: 2px 2px #f8fc06;
  }
  #get-name{
      border-radius: 5px;
      box-shadow:2px 2px #000000 ;
      color: goldenrod;
      background-color: black;
      width: 140px;
  }
  .clear{
    border-radius: 5px;
    box-shadow:2px 2px #000000 ;
    color: goldenrod;
    background-color: black;
    width: 140px;

  }
  
h1{
    text-align: center;
    color: white;
    font-size: 36px;
    padding-top: 20px;
}
.search {
    color: goldenrod;
    text-decoration: underline;
}
a:hover {
    color: rgb(124, 236, 49);
}
